In [9]:
import pandas as pd
from pandasql import sqldf

In [10]:
# Load CSV into pandas
df = pd.read_csv("Net_User_data(in).csv")

In [23]:
# Define SQL execution function# Example SQL query
# Example SQL query

# Define SQL execution function
pysqldf = lambda q: sqldf(q, globals())
query = "SELECT * FROM df;"
result = pysqldf(query)

print(result)

                    Country_Name Country_Code  \
0                          Aruba          ABW
1    Africa Eastern and Southern          AFE
2                    Afghanistan          AFG
3     Africa Western and Central          AFW
4                         Angola          AGO
..                           ...          ...
261                       Kosovo          XKX
262                  Yemen, Rep.          YEM
263                 South Africa          ZAF
264                       Zambia          ZMB
265                     Zimbabwe          ZWE

                                       Indicator_Name  Indicator_Code  1990  \
0    Individuals using the Internet (% of population)  IT.NET.USER.ZS   0.0
1    Individuals using the Internet (% of population)  IT.NET.USER.ZS   NaN
2    Individuals using the Internet (% of population)  IT.NET.USER.ZS   0.0
3    Individuals using the Internet (% of population)  IT.NET.USER.ZS   NaN
4    Individuals using the Internet (% of population)  IT.NET.USER.ZS   0.0
..                                                ...             ...   ...
261  Individuals using the Internet (% of population)  IT.NET.USER.ZS   NaN
262  Individuals using the Internet (% of population)  IT.NET.USER.ZS   0.0
263  Individuals using the Internet (% of population)  IT.NET.USER.ZS   0.0
264  Individuals using the Internet (% of population)  IT.NET.USER.ZS   0.0
265  Individuals using the Internet (% of population)  IT.NET.USER.ZS   0.0

       1991    1992   1993     1994     1995  ...     2015     2016     2017  \
0       NaN     NaN    NaN      NaN      NaN  ...  88.6612  93.5425  97.1700
1       NaN     NaN    NaN      NaN      NaN  ...  14.3000  15.8000  17.3000
2       NaN     NaN    NaN      NaN      NaN  ...   8.2600  11.0000  13.5000
3       NaN     NaN    NaN      NaN      NaN  ...  17.3000  19.9000  23.2000
4       NaN     NaN    NaN      NaN      NaN  ...  22.0000  23.2000  26.0000
..      ...     ...    ...      ...      ...  ...      ...      ...      ...
261     NaN     NaN    NaN      NaN      NaN  ...      NaN      NaN  83.8936
262     NaN     NaN    NaN      NaN      NaN  ...  24.0854  24.5792  26.7184
263  0.0133  0.0389  0.114  0.24700  0.67700  ...  51.9191  54.0000  56.1674
264     NaN     NaN    NaN  0.00678  0.00878  ...   8.8000  10.3000  12.2000
265     NaN     NaN    NaN  0.00174  0.00768  ...  22.7428  23.1200  24.4000

       2018     2019     2020     2021     2022     2023  2024
0       NaN      NaN      NaN      NaN      NaN      NaN   NaN
1    19.600  22.4000  25.0000  28.2000  30.2000  32.4000  35.0
2    16.800  17.6000  17.0485  16.5143  17.1917  17.7089   NaN
3    25.700  28.7000  31.7000  34.9000  36.9000  38.1000  40.2
4    29.000  32.1294  36.6347  39.3876  42.0719  44.7581   NaN
..      ...      ...      ...      ...      ...      ...   ...
261  89.443      NaN      NaN      NaN      NaN      NaN   NaN
262     NaN      NaN  13.8152      NaN      NaN      NaN   NaN
263  62.400  69.6969  72.1128  74.9686  75.4556  75.6592   NaN
264  14.300  18.7000  24.5000  32.5000  15.0000  33.0000   NaN
265  25.000  26.5883  29.2986  37.0967  37.8861  38.4266   NaN

[266 rows x 39 columns]

In [24]:
#calcuates the average usage in
# Convert 1990 column to numeric (force numbers, ignore errors)
df["1990"] = pd.to_numeric(df["1990"], errors='coerce')
query= "SELECT AVG(1990) AS avg_usage_1990 FROM df"


avg_usage = pysqldf(query)
print(avg_usage)

   avg_usage_1990
0          1990.0